<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>urlPath</key>
    <string>planetary/apod</string>
    <key>urlHost</key>
    <string>api.nasa.gov</string>
    <key>urlScheme</key>
    <string>https</string>
    <key>nasaBaseURL</key>
    <string>https://api.nasa.gov/planetary/apod</string>
    <key>apikey</key>
    <string>ZBrv2wKXCEGK34TQx21taIwI8nfxAQrdLWLpJ8to</string>
    <key>minimumDate</key>
    <string>19950616</string>
  </dict>
</plist>
