<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>urlPath</key>
    <string>planetary/apod</string>
    <key>urlHost</key>
    <string>api.nasa.gov</string>
    <key>urlScheme</key>
    <string>https</string>
    <key>nasaBaseURL</key>
    <string>https://api.nasa.gov/planetary/apod</string>
    <key>apikey</key>
    <!-- <string>6MD7B3caI6PWsq8AtEtP7GQ03FeXTjVn3IBWCFHX</string> -->
    <string>ZBrv2wKXCEGK34TQx21taIwI8nfxAQrdLWLpJ8to</string>
    <!-- <string>JQmPdg2qeCYai5ZMLBJ40T5EmbVg1vv7EN3SJ3Ub</string> -->
    <key>minimumDate</key>
    <string>19950616</string>
  </dict>
</plist>
